{{/*
  Custom article-grid view with table layout
  Usage: in _index.md, set design.view to "article-grid"
  Preview image: use Params.image.src, or first image from content (reaction scheme). Display full image (object-contain).
*/}}

{{ $ := .block }}
{{ $page := .page }}

<div class="flex flex-col items-center px-6">
  <div class="container px-8 mx-auto xl:px-5 py-5 lg:py-8 max-w-screen-lg">
    <table border="1" width="850" style="border-width: 0px; border-collapse: collapse; margin-bottom: 20px;">
      {{ range $index, $item := .items }}
        {{ $imgSrc := "" }}
        {{ with $item.Params.image }}
          {{ with .src }}
            {{ $imgRes := $page.Resources.GetMatch . }}
            {{ if $imgRes }}{{ $imgSrc = $imgRes.RelPermalink }}{{ else }}{{ $imgSrc = . | relURL }}{{ end }}
          {{ end }}
        {{ end }}
        {{ if not $imgSrc }}{{ $imgSrc = partial "functions/get_first_content_image_url.html" $item }}{{ end }}
        <tbody>
          <tr>
            <td style="border-style: none; border-width: medium" height="104" width="14%" bgcolor="9d9f9f">
              <p align="center">
                {{ if $imgSrc }}
                  <img border="0" src="{{ $imgSrc }}" width="76" height="102" style="object-fit: contain;">
                {{ else }}
                  <img border="0" src="/placeholder-image.jpg" width="76" height="102">
                {{ end }}
              </p>
            </td>
            <td style="border-style: none; border-width: medium" height="104" width="85%" bgcolor="9d9f9f">
              <font face="Times New Roman">
                <span class="textbold">
                  <font size="2">
                    <a target="_blank" href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>
                    <br>
                  </font>
                </span>
                <font size="2">
                  {{ delimit $item.Params.authors ", " }}<br>
                  {{ with $item.Params.publication }}
                    <i>{{ . }}</i> 
                  {{ end }}
                  {{ with $item.Params.date }}
                    <b>{{ dateFormat "2006-01" . }}</b>, 
                  {{ end }}
                  {{ with $item.Params.journal }}
                    <i>{{ . }}</i> 
                  {{ end }}
                  {{ with $item.Params.volume }}
                    <b>{{ . }}</b> 
                  {{ end }}
                  {{ with $item.Params.pages }}
                    , {{ . }}
                  {{ end }}
                  <br>
                </font>
              </font>
            </td>
          </tr>
          <tr>
            <td style="border-style: none; border-width: medium" width="99%" colspan="2">
              <div align="center" style="min-height: 200px; display: flex; align-items: center; justify-content: center; padding: 8px;">
                {{ if $imgSrc }}
                  <a href="{{ $item.RelPermalink }}"><img alt="" src="{{ $imgSrc }}" style="max-width: 100%; max-height: 280px; width: auto; height: auto; object-fit: contain;"></a>
                {{ end }}
              </div>
            </td>
          </tr>
        </tbody>
      {{ end }}
    </table>
  </div>
</div>
